<% if user_signed_in? %>
<p id="notice"><%= notice %></p>

<h1>Listing Categories</h1>

<table class="table" align="center"   width="500px">
  
  <thead>
    <tr>
      <th>Category name</th>
      
    </tr>
  </thead>

   <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.category_name %></td>
        <td width="20"><%= link_to 'Show', category %></td>
        <td width="20"><%= link_to 'Edit', edit_category_path(category) %></td>
        <td width="20"><%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<p align="center">
<%= link_to 'New Category', new_category_path %>
</p>

<% else %>
                   <%= render template: "home/index"%>
<% end %>

